<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="allpage">
        <header class="new-todo">
            <h1>DO IT!!</h1>
            <p>To Do List App</p>
            <form id="formtodo">
                <input type="text" id="new-todo-input" placeholder="So.. Don't be lazy">
                <button type="submit" id="add-todo-btn" class="addBtn">ADD</button>
            </form>
        </header>

        <div id="todos-container" class="container">
            <h2>To Do List</h2>
            <ul id="todosList"></ul>
        </div>
        <script src="/main.js"></script>
    </div>
</body>

</html>