<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="./scripts.js"></script>
    <script src="./moment.js"></script>
</head>

<body>
    <div class="allpage"><header class="new-todo"></header>
            <div class="col-sm">
                    <% if(typeof hideLogin === 'undefined') { %>
                    <nav class="navbar navbar-light header">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="/login"><%= username %></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout-submit">Logout</a>
                            </li>
                        </ul>
                    </nav>
                    <% } %>
            </div>
        
            <h1>DO IT!!</h1>
            <p>To Do List App</p>
            <form id="formtodo">
                <input type="text" id="new-todo-input" placeholder="So.. Don't be lazy">
                <button type="submit" id="add-todo-btn" class="addBtn">ADD</button>
            </form>
        </header>

        <div id="todos-container" class="container">
            <h2>To Do List</h2>
            <ul id="todosList"></ul>
        </div>
        <script src="/main.js"></script>
    </div>
</body>

</html>